/*
 * Natural Link plugin styles
 */

.natural-link-matched-alias {
	font-size: var(--font-smallest);
	color: var(--text-muted);
}

.natural-link-not-created {
	font-size: var(--font-smallest);
	color: var(--text-faint);
	font-style: italic;
	margin-left: 0.5em;
}
